@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Italic";
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.general-header {
  font-family: Montserrat-Regular;
  padding: 18px 0;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  margin-bottom: 150px;
}

.g-top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-header-info__logo_img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.g-header-info__text {
  padding-left: 9px;
}

.g-header-info__text_username {
  font-family: Montserrat-Bold;
  font-size: 16px;
  line-height: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 3px;
}

.g-header-info__text_userprof {
  font-size: 12px;
  color: rgba(43, 42, 44, 0.7);
}

.g-actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-actions-header li {
  margin: 0px 20px 0px 0px;
}

.g-actions-header li:last-child {
  margin: 0;
}

.g-actions-header__link {
  font-family: Montserrat-Bold;
  position: relative;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.g-actions-header__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.g-actions-header__link:hover::after {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  height: 100%;
}

body {
  font-size: 15px;
  height: 100%;
}

._container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header {
  background-color: rgb(0, 0, 0);
  border-bottom: 4px solid rgba(244, 165, 96, 0.7);
  padding: 30px 10px;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-title__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat-Bold;
  font-size: 28px;
  color: rgb(244, 165, 96);
  text-transform: uppercase;
}

.main {
  background: url("../img/wrist-watches-img.webp") center center no-repeat;
  background-size: cover;
  padding: 15px 0;
  min-height: 100%;
}

.main-block__goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.goods__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31%;
  flex: 0 0 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item-goods {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin: 10px 10px;
}

.item-goods__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0px 0px 15px 0px;
}

.item-goods__title h2 {
  font-family: Montserrat-Regular;
  color: rgb(255, 255, 255);
  text-align: center;
}

.item-goods__img {
  height: 250px;
  width: 200px;
  margin: 40px 0px;
}

.item-goods__img_img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.item-goods__price {
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}

.item-goods__price p {
  font-size: 25px;
  font-family: Montserrat-Bold;
  text-align: center;
  color: rgb(255, 0, 0);
}

.item-goods__btn button {
  font-family: Montserrat-Bold;
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgb(16, 212, 46);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

.cart-out__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-out__table tbody {
  width: 100%;
}

.cart__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart ._sticky {
  background: none;
  position: sticky;
  bottom: 55px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 0;
}

.cart ._sticky .cart-cells__ftotal {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.cart-cells {
  font-family: Montserrat-Bold;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0px 0px 20px 0px;
}

.cart-cells__delete {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
}

.cart-cells__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
}

.cart-cells__name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}

.cart-cells__minus,
.cart-cells__count,
.cart-cells__plus {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5%;
  flex: 0 0 5%;
}

.cart-cells__total {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
}

.cart-cells__ftotal {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}

.cell__button,
.cell__minus,
.cell__plus {
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.cell__button {
  background-color: rgb(255, 0, 0);
  padding: 0px 5px;
}

.cell__img {
  width: 100px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgba(244, 165, 96, 0.9);
}

.cell__img_img {
  width: 100%;
  height: auto;
}

.cell__title {
  text-align: center;
}

.cell__minus {
  background-color: rgb(255, 162, 20);
  padding: 0px 10px;
}

.cell__plus {
  background-color: rgb(16, 212, 46);
  padding: 0px 10px;
}

.cell__ftotal {
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 4px solid rgba(244, 165, 96, 0.7);
  padding: 7px 10px;
}

.cell__ftotal_sum {
  color: rgb(16, 212, 46);
  text-decoration: underline;
  margin: 0px 0px 0px 10px;
}

.footer {
  position: sticky;
  height: 60px;
  background-color: rgb(0, 0, 0);
  border-top: 4px solid rgba(244, 165, 96, 0.7);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.block-footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-footer__cart,
.block-footer__home {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.block-footer__cart:hover,
.block-footer__home:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.block-footer__cart {
  background: url("../img/cart-img.png") 0 0 no-repeat;
}

.block-footer__home {
  background: url("../img/home-img.png") 0 0 no-repeat;
}

.footer-content__count {
  position: absolute;
  left: 35px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 0px 5px;
}

.general-footer {
  font-family: Montserrat-Regular;
  padding: 20px 0px;
  background-color: rgb(0, 0, 0);
  margin-top: 150px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.6);
}

.g-block-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.g-block-footer__credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-block-footer__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-block-footer__project_title {
  font-size: 20px;
  display: inline-block;
  font-family: Montserrat-ExtraLight;
  color: rgb(141, 141, 142);
}

.g-block-footer__project_title span {
  font-family: Montserrat-Bold;
  color: rgba(255, 0, 0, 0.85);
}

.g-block-footer__copyrights {
  padding-right: 20px;
  margin-right: 20px;
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: rgb(141, 141, 142);
  border-right: 2px solid rgba(106, 105, 107, 0.6);
}

.g-actions-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-actions-footer__link {
  font-family: Montserrat-Regular;
  margin-right: 20px;
  font-size: 14px;
  color: rgb(141, 141, 142);
  text-transform: capitalize;
}

.g-actions-footer__link:hover {
  color: rgb(187, 187, 204);
}

.g-actions-footer__link_btn {
  font-family: Montserrat-Bold;
  padding: 10px 25px;
  margin: 10px 30px;
  border: 2px solid rgb(141, 141, 142);
  text-transform: uppercase;
  line-height: 1.1;
  border-radius: 20px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.g-actions-footer__link_btn:hover {
  background-color: rgb(187, 187, 204);
  color: rgb(0, 0, 0);
}

.g-actions-footer__link:last-child {
  margin-left: 0;
}

@supports (-webkit-appearance:none) {
  .block-footer__cart {
    background: url("../img/cart-img.webp") 0 0 no-repeat;
  }

  .block-footer__home {
    background: url("../img/home-img.webp") 0 0 no-repeat;
  }
}

@media (min-width: 992px) {
  .item-goods__btn button {
    background-color: rgb(0, 0, 205);
    color: rgb(255, 255, 255);
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .item-goods__btn button:hover {
    background-color: rgb(16, 212, 46);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .cell__button {
    background-color: rgba(255, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .cell__button:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .cell__minus {
    background-color: rgba(255, 162, 20, 0.7);
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .cell__minus:hover {
    background-color: rgb(255, 162, 20);
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .cell__plus {
    background-color: rgba(16, 212, 46, 0.7);
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .cell__plus:hover {
    background-color: rgb(16, 212, 46);
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 992px) {
  .goods__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .goods__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
  }

  .cart-out__table tbody {
    width: 70%;
  }

  .cart__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px;
  }

  .cart ._sticky .cart-cells__ftotal {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cart-cells__delete {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .cart-cells__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .cart-cells__name {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 20px 0px;
  }

  .cart-cells__minus {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .cart-cells__count {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }

  .cart-cells__plus {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .cart-cells__total {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 20px 0px 15px 0px;
  }

  .g-block-footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .g-block-footer__credits {
    margin: 20px 0px 0px 0px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 576px) {
  .g-header-nav {
    margin: 0px 0px 0px 5px;
  }

  .g-actions-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .g-actions-header li {
    margin: 0px 0px 10px 0px;
  }

  .g-actions-header li:last-child {
    margin: 0;
  }

  .goods__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .cart-out__table tbody {
    width: 80%;
  }

  .g-block-footer__credits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .g-block-footer__copyrights {
    border: none;
    margin: 0;
    padding: 0;
  }

  .g-block-footer__project {
    margin: 0px 0px 20px 0px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 400px) {
  .cart-out__table tbody {
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}