
/*======================= Media =========================*/

@media (min-width: 992px) {
    .item-goods {
      &__btn {
        button {
          background-color: rgb(0, 0, 205);
          color: rgb(255, 255, 255);
          border-radius: 0;
          transition: all .3s ease;
            &:hover {
              background-color: rgb(16, 212, 46);
              box-shadow: 2px 2px 10px rgba(0, 0, 0 ,.24);
              border-radius: 30px;
              transition: all .3s ease;
            }
        }
      }
    }
    .cell {
      &__button {
        background-color: rgba(255, 0, 0, .7);
        color: rgba(255, 255, 255, .8);
        transition: all .3s ease;
        &:hover {
          background-color: rgb(255, 0, 0);
          color: rgb(255, 255, 255);
          transition: all .3s ease;
        }
      }
      &__minus {
        background-color: rgba(255, 162, 20, .7);
        color: rgba(255, 255, 255, .8);
        transition: all .3s ease;
        &:hover {
          background-color: rgb(255, 162, 20);
          color: rgb(255, 255, 255);
          transition: all .3s ease;
        }
      }
      &__plus {
        background-color: rgba(16, 212, 46, .7);
        color: rgba(255, 255, 255, .8);
        transition: all .3s ease;
        &:hover {
          background-color: rgb(16, 212, 46);
          color: rgb(255, 255, 255);
          transition: all .3s ease;
        }
      }
    }
  }
  
  @media (max-width: 992px) {
    .goods {
      &__item {
        flex: 0 0 47%;
      }
    }
  }
  
  @media (max-width: 768px) {
    .goods {
      &__item {
        flex: 0 0 70%;
      }
    }
    .cart-out {
      &__table {
        tbody {
          width: 70%;
        }
      }
    }
    .cart {
      &__row {
        flex-wrap: wrap;
        padding: 5px;
      }
      ._sticky {
        .cart-cells__ftotal {
          justify-content: center;
        }
      }
    }
    .cart-cells {
      &__delete {
        flex: 0 0 100%;
        justify-content: flex-end;
      }
      &__img {
        flex: 0 0 100%;
      }
      &__name {
        flex: 0 0 100%;
        margin: 20px 0px;
      }
      &__minus {
        flex: 0 0 40%;
        justify-content: flex-end;
      }
      &__count {
        flex: 0 0 20%;
      }
      &__plus {
        flex: 0 0 40%;
        justify-content: flex-start;
      }
      &__total {
        flex: 0 0 100%;
        margin: 20px 0px 15px 0px;
      }
    }
  }
  
  @media (max-width: 576px) {
    .goods {
      &__item {
        flex: 0 0 100%;
      }
    }
    .cart-out {
      &__table {
        tbody {
          width: 80%;
        }
      }
    }
  }
  
  @media (max-width: 400px) {
    .header {
      .header-title {
        &__title {
          font-size: 25px;
        }
      }
    }
    .cart-out {
      &__table {
        tbody {
          width: 100%;
        }
      }
    }
  }
  
/*=======================================================*/